<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='estilos.css') }}"
    />
    <title>Formulario</title>
    <link
      rel="shortcut icon"
      type="image/icon"
      href="../../../../../img/tuerca (1).png"
    />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1 class="titulo">Formulario de Encuesta</h1>
        <p class="header_descripcion">
          Gracias por tomarte el tiempo de diligenciar el siguiente formulario,
          te servirá tanto a ti como al mecánico para saber qué tiene tu moto.
        </p>
      </header>
      <h1>{{ pregunta["pregunta"] }}</h1>
      <form action="/" method="POST">
        <select name="respuesta" required>
          {% for opcion in pregunta["opciones"] %}
          <option class="option" value="{{ opcion }}">{{ opcion }}</option>
          {% endfor %}</select
        ><br />
        {% if pregunta_actual < 9 %}
        <input class="campo_submit" type="submit" value="Siguiente" />
        {% else %}
        <input class="campo_submit" type="submit" value="Finalizar" />
        {% endif %}
      </form>
    </div>
  </body>
</html>
