<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/icon"
      href="../../../../../img/tuerca (1).png"
    />
    <link rel="stylesheet" href="../static/estilos.css" />
    <title>Formulario</title>
  </head>
  <body>
    <h1 class="title">Formulario para tu diagnostico</h1>
    <a href="../../../selec_cita.php" class="atras"
      ><i class="fas fa-chevron-left"></i> Atras</a
    >
    <div id="form-page1">
      <button id="next-page-btn">Siguiente</button>
      <!-- BTN para pasar a la pagina con el resto de preguntas -->
    </div>
    <div id="form-page2" style="display: none">
      <button id="atras-page-btn">Anterior</button>
      <button id="submit-btn">Enviar respuestas</button>
    </div>
    <script src="../app.js"></script>
  </body>
  <script src=https://kit.fontawesome.com/86860db679.js crossorigin="anonymous"></script>
</html>
