<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='estilos.css') }}"
    />
    <title>Resultado</title>
    <link
      rel="shortcut icon"
      type="image/icon"
      href="../../../../../img/tuerca (1).png"
    />
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="messages">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <h1>Gracias por completar la encuesta</h1>
    <h2>Diagnósticos:</h2>
    {% for diagnostico_item in diagnostico %} {% for mensaje in diagnostico_item
    %}
    <p>{{ mensaje }}</p>
    {% endfor %} {% endfor %}
    <h2>Respuestas:</h2>
    <ul>
      {% for pregunta, respuesta in respuestas %}
      <li>
        <strong class="pregunta">{{ pregunta }}</strong>:
        <ul>
          <li class="respuesta">{{ respuesta }}</li>
        </ul>
      </li>
      {% endfor %}
    </ul>

    <!-- Mostrar mensajes de error -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="messages">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <form action="/" method="GET">
      <input
        type="submit"
        class="campo_submit"
        value="Volver al inicio del formulario"
      />
    </form>
    <form action="/download" method=" GET">
      <input
        class="campo_submit"
        type="submit"
        value="Descargar Respuestas como PDF"
      />
    </form>
    <div class="btn1">
      <button type="button" class="campo_submit" onclick="redirigirACita()">
        Redirigir a la interfaz de citas
      </button>
    </div>
    <!-- Script para redirigir al hacer clic en el botón -->
    <script>
      function redirigirACita() {
        window.location.href =
          "//localhost/motoftware_final/motoftwaree/views/selec_cita.php";
      }
    </script>
  </body>
</html>
